.bgmenu{
  background-image: url('../../assets/images/medecine.jpg');
  height: 150px;
  padding-top: 25%;
  padding-left: 10px;
}

.userimg{
  border-radius: 50%;
  border-style: solid;
  border-color: #e0bb2e;
}

.userTxt{
  color: #1a1a1a;
  font-weight: bold;
  font-family: 'Cursive';
}
