<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  text=""></ion-back-button>
    </ion-buttons>

    <ion-title style="font-size: smaller">PRENDRE UN RDV</ion-title>
  </ion-toolbar>
  <div class="module lr">
    <p slot="start">Prendre un rendez-vous</p>
  </div>
</ion-header>

<ion-content>
  <center>
      <ion-avatar><ion-img src="{{format+checkDocteur.photo}}"></ion-img></ion-avatar>
      <ion-label class="ion-text-wrap" style="font:16px Roboto, 'Helvetica Neue', sans-serif; font-weight: bold; text-align: center; margin-top: 0; margin-bottom: 0;">Dr. {{checkDocteur.prenom}} {{checkDocteur.nom}}</ion-label>
      <br>
      <ion-label class="ion-text-wrap" style="text-align: center; margin-top: 0; margin-bottom: 0;">{{checkDocteur.specialite}}</ion-label>
      <ion-item style="margin-top: 5px">
        <ion-icon name="location-outline"></ion-icon>
        <ion-label class="ion-text-wrap" style="font:14px Roboto, 'Helvetica Neue', sans-serif; text-align: center; margin-top: 0; margin-bottom: 0;">{{checkDocteur.hopital}}
          <br>{{checkDocteur.adresse}}
        </ion-label>
      </ion-item>

        <ion-calendar style="padding: 0; width: 100%; border: 1px ridge grey"
                      (change)="onChangeDate($event)"
                      [type]="type"
                      [(ngModel)]="rdv.dateRdv"
                      [options]="optionsRange"
                      [format]="'YYYY-MM-DD'">
        </ion-calendar>
      <ion-button (click)="onTakeRdv()" color="primary" >Valider</ion-button>
  </center>
</ion-content>
