<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-size: smaller">À PROPOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="{{image}}"></ion-img>
  </ion-card>
  <ion-card>
    <ion-text style="font: small freight-text-pro, serif; text-align: justify-all">
      DocSen est une plateforme mettant en relation medecins et patients de manière spontanée et instantanée.
    </ion-text>
    <br>
    <ion-text style="font: small freight-text-pro, serif; text-align: justify">
      DocSen vous aide à trouver un medecin selon sa spécialite, son lieu de travail ou même son adresse. DocSen va aussi vous aider a gérer vos rendez-vous que ce soit la prise de la date ou même faire des changements sur le rendez-vous, le tout sans vous deplacer. Vous pouvez également trouver des centres de santé les plus proches selon votre position.
    </ion-text>
  </ion-card>

</ion-content>
