<ion-header>
  <center>
  <ion-toolbar color="primary">
    <ion-title style="font-size: smaller">AUTHENTIFICATION</ion-title>
  </ion-toolbar>
  </center>
</ion-header>

<ion-content>

  <ion-item>
    <ion-icon slot="start" name="contrast-outline"></ion-icon>
    <ion-toggle slot="end" [ngModel]="darkmode" (ionChange)="changeTheme()"></ion-toggle>
  </ion-item>
  <center>
    <span class="text-danger mt-0">{{authService.message}}</span>
    <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
      <div class="imgcontainer">
        <img src="{{avatarImage}}" style="max-width: 100px; max-height: 100px"  alt="Avatar" class="avatar">
      </div>

      <div class="container">
        <label ><b>Username</b></label>
        <input type="text" placeholder="Entrer le login" [(ngModel)]="user.username" name="username" required>

        <label ><b>Mot de passe</b></label>
        <input type="password" placeholder="Entrer le mot de passe" [(ngModel)]="user.password" name="password" required>

        <button type="submit">Se connecter</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Rester connecter
        </label>
      </div>

      <div class="container" >
        <ion-button expand="full" (click)="onRegister()" style="background-color: #3a7be0;">S'inscrire</ion-button>
        <span class="psw">Mot de passe <a href="#">oublié?</a></span>
      </div>
    </form>
  </center>
</ion-content>
