<ion-header>
  <center>
  <ion-toolbar color="primary">
    <ion-title style="font-size: smaller">AUTHENTIFICATION</ion-title>
  </ion-toolbar>
  </center>
</ion-header>

<ion-content>
  <center>
    <span class="text-danger mt-0">{{authService.message}}</span>
    <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
      <div class="imgcontainer">
        <img src="{{avatarImage}}" style="max-width: 100px; max-height: 100px"  alt="Avatar" class="avatar">
      </div>

      <div class="container">
        <label ><b>Nom d'utilisateur</b></label>
        <input type="text" placeholder="Entrer le login" [(ngModel)]="user.username" name="username" required>

        <label ><b>Mot de passe</b></label>
        <input type="password" placeholder="Entrer le mot de passe" [(ngModel)]="user.password" name="password" required>

        <ion-button type="submit">Se connecter</ion-button>
      </div>
    </form>

    <div class="container" >
      <span class="psw">Pas encore de compte?</span>
      <button (click)="onRegister()" style="background-color: #73AD21;">S'inscrire</button>
    </div>

  </center>
</ion-content>
