<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" style="margin-right: 10px">
      <ion-button (click)="onShareDocteur()">
      <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bgdocteurpage">
    <center>
    <ion-avatar style="margin-top: 23px; margin-bottom: 10px">
      <ion-img [src]="currentDocteur.photo"></ion-img>
    </ion-avatar>
     <strong><ion-label style="color: white">Dr. {{currentDocteur.nom}}</ion-label></strong>
      <br>
      <ion-label style="font-size: small; color: white">{{currentDocteur.fonction}}</ion-label>
      <br>
      <button (click)="onTakeRdv(currentDocteur)" style="border-radius: 8px; margin-top: 7px; height: 30px ;background-color: #00d1db">Prendre un rendez-vous</button>
    </center>
  </div>

  <div>
  <center>
      <ion-card style="margin-top: 180px; border-bottom: ridge 1px">
        <center>
          <p style="font-family: 'Bookman Old Style'; font-size: small; text-align: center;">
            PROCHAINE DISPONIBILITÉ
          </p>
        </center>
      </ion-card>
      <ion-card style="margin-bottom: 5px" *ngFor="let j of array">
        {{j}}
      </ion-card>
  </center>
  </div>
</ion-content>
