<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  text=""></ion-back-button>
    </ion-buttons>

    <ion-title slot="start" style="font-size: small">INSCRIPTION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
  <ion-card>
    <ion-card-content>
      <h3>Inscription effectuée avec <span style="color: green">success</span></h3>
      <br>
      <ion-text>Connectez-vous <a (click)="goLogin()">ici</a></ion-text>
    </ion-card-content>
  </ion-card>
  </center>
</ion-content>
