<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title style="font-size: smaller">ACCUEIL</ion-title>
  </ion-toolbar>
  <div class="module lr" (click)="viewPost(lePost)">
    <ion-img src="{{format+lePost.image}}"></ion-img>
    <p slot="start">{{lePost.title}}</p>
  </div>
</ion-header>

<ion-content>
  <ion-list *ngIf="lesMedecins">
    <ion-card *ngFor="let m of lesMedecins">
        <ion-item (click)="onDocteurCheck(m)">
          <ion-avatar slot="start">
            <img src="{{format+m.photo}}">
          </ion-avatar>
          <ion-row>
            <ion-col style="padding: 0 0 0 0">
            </ion-col>
            <ion-col>
              <ion-label style="font-size: small; font-weight: bold; margin-right: 5px; font-family: 'Gill Sans MT Ext Condensed Bold'">{{m.prenom}} {{m.nom}}</ion-label>
              <ion-label style="font-size: small; margin-right: 5px; font-family: 'Gill Sans MT Ext Condensed Bold'">{{m.specialite}}</ion-label>
              <ion-label style="font-size: small; margin-right: 5px; font-family: 'Gill Sans MT'">{{m.adresse}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
    </ion-card>
  </ion-list>
  <!--<ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Chargement...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>-->
</ion-content>
